<h2>Προηγούμενες Παραγγελείες</h2>
<ul class="list-inline">
  <li>
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <p class="card-title h5">12/12/2023</p>
        <p class="card-subtitle h6 mb-2 text-body-secondary">23.99 &euro;</p>
        <p class="card-text">2xPepperoni, 1 Cola, 1xBreadsticks</p>
        <a href="#" class="card-link">Παράγγειλε Ξανά!</a>
      </div>
    </div>
  </li>
  <li>
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <p class="card-title h5">15/11/2023</p>
        <p class="card-subtitle h6 mb-2 text-body-secondary">52.49 &euro;</p>
        <p class="card-text">
          1xDiavola, 2xClassic, 2xBreadsticks, 2xCola, 1xCheese knots, 2xWater,
          1xMuffin, 1xApple pie
        </p>
        <a href="#" class="card-link">Παράγγειλε Ξανά!</a>
        <!-- <a href="#" class="card-link">Another link</a> -->
      </div>
    </div>
  </li>
  <li>
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <p class="card-title h5">26/9/2023</p>
        <p class="card-subtitle h6 mb-2 text-body-secondary">12.99 &euro;</p>
        <p class="card-text">1xXLarge Pepperoni</p>
        <a href="#" class="card-link">Παράγγειλε Ξανά!</a>
      </div>
    </div>
  </li>
</ul>
