<section class="container">
  <div class="row pizza-cta-c">
    <div class="col-lg-5 col-md-12 pizza-text-c">
      <h2>Pizza Pizza Pizza...</h2>
      <p>
        Αφεθείτε σε έναν κόσμο γεύσεων με την εξαίσια σειρά από πίτσες μας! Με
        περισσότερες από 15 απολαυστικές γεύσεις φτιαγμένες από περισσότερα από
        40 υλικά υψηλής ποιότητας, υπάρχει μια γεύση για κάθε λαχτάρα. Είστε
        έτοιμοι να ξεκινήσετε ένα γαστρονομικό ταξίδι; Κάντε κλικ για να
        εξερευνήσετε και να επιλέξετε τις αγαπημένες σας γεύσεις πίτσας!
      </p>
      <div class="center-c">
        <button class="btn">Θέλω Πίτσα Τώρα !</button>
      </div>
    </div>
    <div class="col-2 d-md-hidden"></div>
    <div class="col-lg-5 col-md-12 img-c">
      <img src="assets/pizza.jpg" alt="" class="img-fluid rounded" />
    </div>
  </div>
</section>
