.marble-bg {
  width: 100%;
  height: 100vh;
  background-image: url("../../../../assets/marble_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board-img-c {
  display: block;
  /* background-color: red; */
  width: 100%;
  height: 100%;
  background-image: url("../../../../assets/cutting_board.png");
  background-repeat: no-repeat;
  background-size: contain;
}
