<main>
  <div class="video-c ratio-4x3">
    <video
      class="object-fit-cover"
      src="assets/pizza_making.mp4"
      loop
      autoplay
    ></video>
    <div class="slogan-c"><h1>Make your home Pizzable</h1></div>
  </div>
  <app-pizza-cta></app-pizza-cta>
  <section class="more-then-pizza-c">
    <div class="pizzeria-img-c">
      <div class="catering-text-c">
        <h2>Είμαστε κάτι παραπάνω από μια πιτσαρία</h2>
        <p>
          Μπορεις να φανταστείς ένα κόσμο όπου η πίτσα ετοιμάζεται, ψήνεται και
          κόβεται στο ίδιο σου το σπίτι? Εμεις μπορούμε!
        </p>
        <p>
          Η εταιρεία μας δεν είναι μόνο μια πιτσαρία, όπως λέει και το όνομα
          της, μπορούμε να μεταμορφώσουμε το σπίτι σας σε ένα εστιατόρια πίτσας
          με τον ξεχωριστό φορητό ξυλόφουνό μας!
        </p>
        <!-- <p>
          Είσαι επιχείρηση και διωργανώνεις κάποιο event? Όποιες και αν είναι οι
          ανάγκες σου με ένα κλικ, η τοποθεσία σου έχει γίνει η δικιά σου
          Πιτσαρία!
        </p> -->
        <p>
          Αν ακόμα δεν είσαι πεισμένος, αλλά είσαι πειναμένος κάνε κλικ για να
          επικοινωνήσεις άμεσα!
        </p>
        <button class="btn catering-cta">Επικοινωνία</button>
      </div>
      <!-- <img src="assets/pizzaplace.jpg" alt="" /> -->
    </div>
  </section>
  <!-- <app-catering-cta></app-catering-cta> -->
</main>
