<main>
  <div class="container form-c">
    <form class="mx-auto">
      <div class="mb-3">
        <label for="EmailInput" class="form-label">Διεύθυνση Email</label>
        <input type="email" class="form-control" id="EmailInput" />
        <!-- <div id="emailHelp" class="form-text">
          Δεν θα κοινοποιήσουμε ποτέ το email σου σε κανέναν
        </div> -->
      </div>
      <div class="mb-3">
        <label for="PasswordInput" class="form-label">Password</label>
        <input type="password" class="form-control" id="PasswordInput" />
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1"
          >Να με θυμάσαι</label
        >
      </div>
      <button type="submit" class="btn btn-primary w-100 submit-btn">
        Είσοδος
      </button>
      <a routerLink="/register"
        >Δεν είσαι εγγεγραμένος? Δημιούργησε λογαριασμό τώρα!</a
      >
    </form>
  </div>
</main>
