<h2>Αγαπημένα</h2>
<ul class="favs-list">
  <li class="favourite-pizza-c">
    <div class="fav-img-c">
      <img
        src="https://images.freeimages.com/images/large-previews/7ed/pizza-1327877.jpg"
        class="card-img-top img-fluid"
        alt="..."
      />
    </div>
    <div class="card-body">
      <p class="card-title text-center">Pepperoni</p>
    </div>
  </li>
  <li class="favourite-pizza-c">
    <div class="fav-img-c">
      <img
        src="https://images.pexels.com/photos/842519/pexels-photo-842519.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        class="card-img-top img-fluid"
        alt="..."
      />
    </div>
    <div class="card-body">
      <p class="card-title text-center">Hawai</p>
    </div>
  </li>
  <li class="favourite-pizza-c">
    <div class="fav-img-c">
      <img
        src="https://images.pexels.com/photos/2619970/pexels-photo-2619970.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        class="card-img-top img-fluid"
        alt="..."
      />
    </div>
    <div class="card-body">
      <p class="card-title text-center">Classic</p>
    </div>
  </li>
</ul>
