<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h3>Υπηρεσίες και Προιόντα</h3>
        <ul>
          <li>Πίτσες</li>
          <li>Catering</li>
          <li>Αλλεργιογόνα</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h3>Καταστήματα</h3>
        <ul>
          <li>Τοποθεσία 1, Αττική</li>
          <li>Περιοχή 2, Αττική</li>
          <li>Τοποθεσία 3, Αττική</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h3>Επικοινωνία</h3>
        <ul>
          <li><a href="tel:+69xxxxxxxxxx">6912345678</a></li>
          <li><a href="mailto:example@example.com">example@example.com</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
